{% extends "base.html" %}

{% block content %}
    <div style="display: flex;">
        <div>
            <p>
            <a class="btn btn-info" style="width: 150px" href="/main/{{current_user.id}}">Моя страница</a>
            <p>
            <a class="btn btn-info" style="width: 150px" href="/news_fr/{{current_user.id}}">Новости</a>
            <p>
            <a class="btn btn-primary" style="width: 150px" href="/friends/{{current_user.id}}">Друзья</a>
            <p>
            <a class="btn btn-info" style="width: 150px" href="/sms/{{current_user.id}}">Сообщения</a>
            <p>
            <a class="btn btn-info" style="width: 150px" href="/video/{{current_user.id}}">Видео</a>
        </div>
        <div style="margin-left: 100px; width: 1000px;">
        <div style="width: 38rem; border-radius: 10px; high: 150px; display: flex;" class="alert alert-warning" role="alert">
                <div>
                <div>Имя: {{maaaaaan.name}}</div>
                <div>Фамилия: {{maaaaaan.surname}}</div>
                </div>
                <div style="margin-left: 10rem;">
                <div>Возраст: {{maaaaaan.age}}</div>
                <div>Статус: {{maaaaaan.status}}</div>
                </div>
            </div>
            <div>
                <img style="width: 38rem; border-radius: 10px;" src="/static/avatar/{{maaaaaan.avatar}}" alt="Лол, что-то крашнулось">
            </div>
            <p><div style="margin-left: 0px; width: 70%;" class="alert alert-warning" role="alert"><h2 align="center">Новости</h2></div></p>
            {% for el in sp_news %}
            <div class="alert alert-primary" style="margin-left: 0px; width: 70%;" role="alert">
                <h3>{{el.title}}</h3>
                <p>
                <h4>{{el.content}}</h4>
                </p>
                <p>
                    Автор: {{maaaaaan.name}} {{maaaaaan.surname}}
            </div>
            {% if el.Photos %}
                <div>
                    <img src="/static/{{el.Photos}}.png" width="550rem" style="margin-left: 10px; margin-top: 0px;" alt="Лол, что-то крашнулось">
                </div>
            {% endif %}
                </p>
            {% endfor %}
        </div>
    </div>
{% endblock %}