{% extends "base.html" %}

{% block content %}
<h1>Проверка почты</h1>
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.code.label }}<br>
        {{ form.code(class="form-control") }}<br>
        {% for error in form.code.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    <div>{{ message }}</div>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
</form>
{% endblock %}
