{% extends "base.html" %}

{% block content %}
<h1>Добавление новости</h1>
    {% if current_user.is_authenticated %}
<p>{{current_user.name}} {{current_user.surname}}</p>
    {% endif %}
<form enctype="multipart/form-data" method="post">
    {{ form.hidden_tag() }}
    {{ form.csrf_token }}
    <p>
        {{ form.title.label }}<br>
        {{ form.title(class="form-control", placeholder="Заголовок") }}<br>
        {% for error in form.title.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.content.label }}<br>
        {{ form.content(class="form-control", placeholder="Содержание") }}<br>
        {% for error in form.content.errors %}
            <p content="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p style="padding-left: 30px">{{ form.is_private(class="custom-control-input") }} {{ form.is_private.label(class="custom-control-label") }}</p>
    <p>
        {{ form.file.label }}<br>
        {{ form.file(class="form-control-file")}}<br>
        {% for error in form.file.errors %}
            <p content="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    {{message}}
</form>
{% endblock %}