{% extends "friends.html" %}

{% block conten %}
<div data-spy="scroll" data-offset="0" style="margin-left: 15%; position: relative; height: 500px; margin-top: .5rem; overflow-y: auto; overflow-x: hidden;">
    <div class="card-columns">
        {% for el in sp_p %}
        <div class="card" style="width: 18rem;">
            <img src="/static/avatar/{{el.avatar}}" class="card-img-top" alt="Лол, что-то крашнулось">
            <div class="card-body">
                <h5 class="card-title"><a href="/f_profile/{{el.id}}">{{el.name}} {{el.surname}}</a></h5>
                <a href="/append_friend/{{ el.id }}" style="width: 100%;" class="btn btn-success">Отправить заявку</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}